[2018-10-03 00:53] troychaplin79 commented on #7
@dannybrown73 check out the 2 banners on https://devsite.carleton.ca/futurefunder/

first one uses new proposed 20%, second uses cores 35%. I find for this image, there's a lot of the beauty in the colour lost when the lightest overlay available is 35%, I can see either a 20 or 15% being a benefit, but not documented so it won't be abused

[2018-10-03 19:41] troychaplin79 commented on #7
@dannybrown73 this was merged into core

[2018-10-03 22:13] dannybrown73 commented on #5
Not yet. So closing.

[2018-10-13 00:30] dannybrown73 commented on #10
Fixed.

[2018-10-13 00:31] dannybrown73 commented on #8
Pretty sure this was addressed.

[2018-10-13 00:36] troychaplin79 commented on #14
@dannybrown73 https://devsite.carleton.ca/futurefunder/donations/project-everything-no-expiry-levels/

Story panel = content area for story tab on single project template

[2018-10-13 01:16] troychaplin79 commented on #14
Styles in question appear to be legacy, removed from core

[2018-10-13 01:27] dannybrown73 commented on #4
Grid docs done.

[2018-10-13 01:28] dannybrown73 commented on #4
Masthead done.

[2018-10-16 00:46] dannybrown73 commented on #16
Oh never mind just realized why. For other full grey blocks following. Closing.

[2018-10-24 01:12] dannybrown73 commented on #20
Solved with new modifier: `u-block-full--kenobi`

[2018-10-24 01:19] dannybrown73 commented on #19
Done.

[2018-10-24 15:10] troychaplin79 commented on #19
I don't see this new stuff in this file: https://github.com/ravendesignsystem/rds/blob/master/src/_scss/rds/components/cards/_card.scss

I wanted to go make an additional change for the mobile first approach and hiding below S that you asked Michael to do, here's the revised code:

[code]

[2019-01-14 14:13] dannybrown73 opened #1 "Security review"
Security items to review or keep in mind:

- Is this still true in 2019?  https://stackoverflow.com/questions/35027028/when-should-javascript-not-be-gzipped

[2019-01-22 11:14] dannybrown73 opened #2 "Redo scss for buttoncta component."
Change the class names from `c-button` to `c-buttoncta`.

[2019-01-31 12:50] dannybrown73 opened #3 "Fix the documentation for the Card Grid block."
This block has been renamed from Grid to Card Grid and should use the handle `gridcard`. The documentation and block code needs to be adjusted. https://ravendesignsystem.github.io/rds/dev/blocks/main/cardgrid/

[2019-01-31 13:11] dannybrown73 opened #4 "Change handle for Text and Image block to `txtimg`"
Also, adjust modifiers.

[2019-01-31 13:15] dannybrown73 opened #5 "Reference: RDS abbreviations"
- hor: horizontal
- img: image
- RDS: Raven Design System
- vert: vertical

Goal: not to overly abstract things but to shorten longer words. Abbrevs. should be used to save at least 2 characters. For example, shortening text to txt is not worth it.

[2019-01-31 13:33] dannybrown73 commented on #4
Closing. Changed mind.

[2019-01-31 13:33] #4 closed, assigned to dannybrown73

[2019-02-01 16:06] troychaplin opened #6 "Broken docs page"
https://ravendesignsystem.github.io/rds/dev/blocks/footer/footerbrand/

LIne 31: `{%include 'footerbrand/footerbrand' with content='closeopen'%}`

Removing this fixes the problem, but not sure if that line is needed, incorrect, or is missing another related element?

[2019-02-04 21:25] dannybrown73 opened #7 "Do we still need the b-content styles?"
Or just rely on reboot base styles?

[2019-02-11 20:20] troychaplin opened #8 "Doc Review: Blocks"
## Banner Block

- [ ] Missing: content guidelines

## Search Block

- [ ] Not sure why we need to keep b-search, it adds nothing other than an level in markup
- [ ] Description and Implementation Notes are not finished

## Card Grid Block

- [ ] Open / Close includes need to be reviewed

## Content Block

- [ ] Styles being overwritten in b-content should be reviewed to make sure they are all sti

[2019-02-11 20:23] troychaplin commented on #7
@dannybrown73 i just made note of this when reviewing other stuff, I'll look at it this week and make a recommendation

[2019-02-11 20:53] #6 closed, assigned to dannybrown73

[2019-02-11 20:53] troychaplin commented on #6
This was fixed somewhere along the way

[2019-02-12 15:35] troychaplin commented on #2
@dannybrown73 updated and pushed to prod docs

[2019-02-12 15:35] #2 closed, assigned to troychaplin

[2019-02-12 16:00] troychaplin opened #9 "Doc Review: Components"
## Badges

- [x] docs are unfinished

## Buttons

- [ ] Social button docs are unfinished

## Cards

- [ ] Notes missing for things to avoid
- [ ] Nothing exists under “In the Wild”

## Accordion

- [ ] Content missing from Implementation Notes
- [ ] Content missing from Content Guidelines
- [ ] Content missing from Things to Avoid

## Table

- [ ] needs full documentation

## Video

- [x] needs f

[2019-02-21 16:39] troychaplin opened #10 "Docs and Markup: Masthead"
We need this doc updated with explanations and proper code examples: https://ravendesignsystem.github.io/rds/dev/blocks/header/masthead/

[2019-02-21 16:40] troychaplin commented on #8
Moved masthead into a separate ticket (#10) and assigned directly to @dannybrown73

[2019-02-21 16:42] troychaplin opened #11 "Docs and Markup: Submenu"
We need this doc updated with explanations and proper code examples: https://ravendesignsystem.github.io/rds/dev/components/nav/submenu/

[2019-02-21 16:43] troychaplin commented on #9
Moved submenu into a separate ticket (#11) and assigned directly to @dannybrown73

[2019-02-24 16:57] dannybrown73 opened #12 "Need to redo the video icons for both the Card component and listing block"
I cleaned up a bunch of utility classes, including the u-icon classes and realized it would be best to get away from some of the inline icons, including the play button.

Both the video variant in the listing block and the card component used this so both video buttons no longer exist.

Can you create a new way with just an inline svg to overlay the play button on both video items.

[2019-02-27 12:28] troychaplin commented on #12
@dannybrown73 Both items are updated and have been pushed to the prod docs. The overlay shades were inconsistent from cards to listings, so I decided to remove the `u-overlay` and modifier that was being applied to the video card, and instead added a before pseudo that reflected how it was being done on the video listing block.

This also keeps inline with reducing the amount of additional markup

[2019-02-27 12:28] #12 closed, assigned to troychaplin

[2019-02-27 12:32] troychaplin opened #13 "Unused utility class"
Following the work that is now completed on issue #12, we no longer use the `u-overlay` class and it's associated modifiers. These were only used in the video card. See my note on issue #12 for a little more info.

I'm sure we can just remove this u-class?

[2019-02-27 13:26] troychaplin commented on #7
@dannybrown73 i just took a look at this, cleaned up it a bit, but I don't think we can fully get rid of it, it does server a very specific purpose. Let's discuss a few things around this one when we have a few minutes before closing this issue

[2019-02-27 16:07] dannybrown73 commented on #13
Ok. Remove it.

[2019-02-27 17:22] #7 closed, assigned to dannybrown73, troychaplin

[2019-02-27 17:34] #13 closed, assigned to dannybrown73

[2019-03-11 16:24] troychaplin opened #14 "SCSS import files need reviewing"
A few core blocks are imported in app.scss but not core.scss, and this seemed incorrect to me?

https://github.com/ravendesignsystem/rds/blob/master/src/_themes/core/scss/core.scss
https://github.com/ravendesignsystem/rds/tree/master/src/_themes/docs

Specifically, app has listing and textimg, i assumed those should actually be in core?

I've added them to core for now, we need to review what app

[2019-03-13 20:44] troychaplin opened #15 "New RDS Additions"
Based on work done with here for good, there are 2 items that I added the the hfg theme that should make it's way back to RDS

[code]

[code]

[2019-03-13 20:46] troychaplin opened #16 "Resources to CDN"
We'll want to get a new tag added to RDS, and a version of the compiled resources from that tag uploaded to the CDN for a couple of purposes.

I would suggest we quickly add the 2 items from #15, then tag as `1.0.3` before adding to the CDN

[2019-03-13 21:33] dannybrown73 commented on #15
@troychaplin79  for the second one can you send me a link to where its an issue.

[2019-03-13 22:22] troychaplin commented on #15
@dannybrown73 there’s a link on line 3 of the comments i made in the code

[2019-03-14 02:15] dannybrown73 commented on #15
Fixed and pushed.

[2019-03-14 02:16] dannybrown73 commented on #15
Forgot about other issue...reopening

[2019-03-21 14:45] troychaplin opened #17 "Banner alignment"
Create `b-banner--left` modifier that left aligns the breadcrumb, header and buttons

[2019-03-21 14:46] troychaplin opened #18 "4 column grid break point"
We should add a new break point for the 4 column grid. Between small and medium, the grid should use a 2 column layout, the spacing is way to small without this.

[2019-03-21 14:46] troychaplin commented on #18
@dannybrown73 unless you disagree, i'll go ahead and get this one done in the next day or so

[2019-03-21 23:28] troychaplin opened #19 "Image banners"
Right now, when we use the `b-banner--img` modifier, we are forced into having a 60% overlay. Given the requested changes to the [Research Works banner](https://github.com/cuweb/theme-researchworks/issues/1), I think we should remove this, and instead add a `b-banner--img-medium` at 60% to go along with `b-banner--img-light` and `b-banner--img-dark`

[2019-03-21 23:32] dannybrown73 commented on #19
hmmm actually wait. Do you see that image banner as the same block?

[2019-03-21 23:33] dannybrown73 commented on #19
Also, i don't know/think that block will find its way into RDS

[2019-03-21 23:47] troychaplin commented on #19
@dannybrown73 as discussed, this is a custom block, no plans to bring in to core rds

[2019-03-21 23:47] #19 closed, assigned to dannybrown73, troychaplin

[2019-03-21 23:48] troychaplin commented on #17
@dannybrown73 as per our discussion, this is not something we want to do at this time

[2019-03-21 23:48] #17 closed, assigned to troychaplin

[2019-03-22 17:23] troychaplin commented on #15
@dannybrown73 closing this, i can confirm that both items have been completed

[2019-03-22 17:23] #15 closed, assigned to dannybrown73

[2019-03-24 18:58] troychaplin opened #20 "Layout Style Duplication"
Found duplicate style for layouts:

https://github.com/ravendesignsystem/rds/blob/master/src/_layouts/body/_layouts.scss
https://github.com/ravendesignsystem/rds/blob/master/src/_themes/core/layouts/base/_base.scss

I'm fairly sure the first link is the most up-to-date, it has new stuff I added when building these (such as l-body--grey, and margin/padding on sidebar), but a side-by-side comparison

[2019-03-24 18:59] troychaplin opened #21 "u-block--white"
Need to add styles for u-block--white, when this is used on grey body bg it needs to be white

Add the following here: https://github.com/ravendesignsystem/rds/blob/master/src/_themes/core/scss/base/utilities/_utilities.scss

[code]

[2019-03-24 19:00] #18 closed, assigned to troychaplin

[2019-03-25 08:31] dannybrown73 opened #22 "wrap icon text in masthead with spans"
**http://localhost:3000/docs/dev/blocks/header/masthead/**

[2019-03-25 13:44] troychaplin commented on #20
@dannybrown73 it doesn't appear that the 2nd link above is even being used, unless there's something I'm missing? Can you double check and confirm please? I have a small issue with a layout breakpoint in RW on story page, easy fix but wanna rule out this as a conflict.

[2019-03-25 13:57] troychaplin opened #23 "Layout Spacing & Breakpoints"
Layouts need padding around them, same as u-blocks do, so layouts do not hit the side of browser window responsively

Flex direction that's set on `body__main` should not globally use flex-direction: row above 1112... This needs to move to `l-body--ma` and `l-body--ama` to allow each unique layout to break at individual widths (1112 for ama and 868 for ma)

[2019-03-25 13:58] #23 closed, assigned to troychaplin

[2019-03-25 13:58] troychaplin commented on #23
This was needed for RW immediately, easier to fix here than try and modify in RW

[2019-03-25 14:00] troychaplin commented on #21
Added this code now given I had a couple things I needed for RW

[2019-03-25 14:00] #21 closed, assigned to troychaplin

[2019-03-28 14:29] troychaplin opened #24 "Layout Breakpoints"
~Now that I'm working with layouts on RW, I'm starting to think the breakpoint for `layout-ma` being at 868 is a little too small, in my testing I think 1024px is a much better breakpoint.~

~I'm suggesting we increase this breakpoint, then review the breakpoints on `layout-am` and `layout-ama` with real content.~

Update: changes made to `layout-ma`, ticket will remain open until we go back and d

[2019-03-28 14:30] troychaplin commented on #24
@dannybrown73 next time you're in our office area, stop by and I can show you the difference on the `layout-ma` in RW and I'm sure you'll agree with my suggestion

[2019-04-01 18:27] troychaplin opened #25 "Documentation on modal"
In working with search modal today it's become clear we need to add docs around this (linked up from the masthead doc page) asap

[2019-04-01 18:29] troychaplin opened #26 "scrollHeight js error"
This was happening because there was no `<header>` tag present in the themes. The RDS docs has the banner wrapped in one, but that's not documented.

Let's discuss

[2019-04-02 19:29] troychaplin commented on #20
@dannybrown73 see commit notes linked above

[2019-04-02 19:29] #20 closed, assigned to troychaplin

[2019-04-02 19:33] troychaplin commented on #24
@dannybrown73 I increased the breakpoint on `layout-ma` to 1024 as we discussed and reviewed on research works, also made a todo so I can go back and review the break for `layout-ama`

[2019-04-02 19:36] troychaplin commented on #26
This is not a bug, but rather a lack of correct documentation, new ticket will be added re: docs

[2019-04-02 19:36] #26 closed, assigned to dannybrown73, troychaplin

[2019-04-02 19:37] troychaplin opened #27 "Docs: Getting Started"
Updated the docs for [Getting Started](https://ravendesignsystem.github.io/rds/dev/using-rds/getting-started/) to be a little more descriptive, and to update the code example

[2019-04-02 20:28] troychaplin commented on #27
Docs have been updated

[2019-04-02 20:28] #27 closed, assigned to troychaplin

[2019-04-02 20:32] troychaplin opened #28 "Duplication"
## Layouts

- `src/_layouts/body` should be moved to `src/_themes/core/layouts/body`
- references to `_layouts.scss` exist in: `src/_themes/core/scss/core.scss` and `src/_themes/hp/scss/hp.scss`
- can't find where `layout.js` is being imported into, is this even being used anymore?

## Overlays

- `src/_layouts/overlays` should be moved to `src/_themes/core/layouts/overlays`
- **NOTE:** scss file

[2019-04-03 13:42] mieradi opened #29 "Doc Feedback: Michael Ieradi"
**General Overview**

The docs for **Understanding RDS** are very wordy, and a little confusing. I think it would be helpful to have very clear, concise examples alongside a visual representation, and the code to go with it. When I am reading docs I am generally looking for **what & why** as fast as possible. Ideally, I think it would be good to see a structured page using Layouts, Blocks, etc in

[2019-04-04 15:19] troychaplin opened #30 "New Dev Doc Ideas"
These were items that were listed in the dev doc table of contents but never linked up to anything. I am removing them from the git docs, but wanted to keep the list as we may want to remember other doc ideas we had that we can add in the future

- Themes
- Contributing
- Browser and device compatibility
- Release notes
- Getting help

[2019-04-25 09:45] dannybrown73 commented on #3
Done.

[2019-04-25 09:45] #3 closed, assigned to dannybrown73

[2019-04-25 09:46] dannybrown73 opened #31 "Review layout issues"
@troychaplin79  can you have a look at this layout https://ravendesignsystem.github.io/rds/dev/getting-started/get-started/

specifically, when it breaks at medium mq, and let me know what I am doing wrong, markup-wise.

[2019-04-25 10:29] troychaplin commented on #31
@dannybrown73 I would assume the CSS is not up-to-date with the layouts... I checked back on the original pens we did, and this one here worked just fine: https://s.codepen.io/cuweb/debug/zJoXQR

I'll dig deeper today and most likely review, and update the entire CSS structure for layouts

[2019-05-05 13:50] dannybrown73 commented on #28
These have been moved into the core theme.

[2019-05-05 13:50] #28 closed, assigned to dannybrown73

[2019-05-05 13:59] dannybrown73 commented on #31
Looks fixed.

[2019-05-05 13:59] #31 closed, assigned to troychaplin

[2019-05-05 14:00] dannybrown73 commented on #24
Layouts seem sorted out. Closing.

[2019-05-05 14:00] #24 closed, assigned to troychaplin

[2019-05-05 14:13] dannybrown73 commented on #14
This has been cleaned up.

[2019-05-05 14:13] #14 closed, assigned to dannybrown73

[2019-05-05 14:14] dannybrown73 commented on #16
Distribution is completely being reworked so gonna close.

[2019-05-05 14:14] #16 closed, assigned to dannybrown73

[2019-05-05 14:14] dannybrown73 commented on #22
Done. Closing.

[2019-05-05 14:14] #22 closed, assigned to dannybrown73

[2019-05-05 14:27] dannybrown73 commented on #10
Completed.

[2019-05-05 14:27] #10 closed, assigned to dannybrown73

[2019-05-28 14:10] troychaplin opened #32 "Button text colour"
At some point when the link colours were changed from red to blue, something was done that had a negative impact on the CTA Buttons... I can do this one easily, but I wanted to make sure everything you have been doing lately has been committed

https://ravendesignsystem.github.io/rds/dev/components/buttons/cta-button/

[2019-07-30 15:02] dannybrown73 opened #33 "Look at using css to build a style guide"
https://css-tricks.com/build-style-guide-straight-sass/

[2019-08-20 17:03] dannybrown73 commented on #32
Fixed. Closing.

[2019-08-20 17:03] #32 closed, assigned to dannybrown73

[2019-08-20 17:08] dannybrown73 commented on #29
A lot has changed since the early docs in April, including primary nav and secondary vertical nav, overall page structure, more code comments. There is still a lot to do but gonna close this one but add 'Loading the views via ajax would also be ideal. 2019 hates page reloads.' to the roadmap, as yeah that would be better.

[2019-08-20 17:08] #29 closed, assigned to troychaplin

[2019-08-20 17:14] dannybrown73 commented on #11
Block renamed and docs updated https://ravendesignsystem.github.io/rds/dev/components/menupopup/

[2019-08-20 17:14] #11 closed, assigned to dannybrown73

[2019-08-20 18:05] dannybrown73 opened #34 "Fix the sticky scroll if page doesn't scroll or scroll is limited"

[2019-08-22 12:20] dannybrown73 opened #35 "Issues with Masthead"
**Describe the bug**
There are two issues that need to be fixed with the Masthead submenus

- [x] Small issue with flickering when switching on mobile
- [ ] On mobile, if only one submenu is used, things break.
- [x] Styles are not working properly for <button> submenus

[2019-09-18 18:24] troychaplin opened #36 "Spacing on sidenav bg gradient"
If the 3rd level nav is the last in the list, that gradient bg is incredibly tight, compared to a 2nd level item as the last in a list, the gradient isn’t so tight

![Screen Shot 2019-09-18 at 2 17 44 PM](https://user-images.githubusercontent.com/15524465/65174971-f58cd680-da1f-11e9-8b9a-ed3409e0e527.png)

[2019-09-18 18:26] troychaplin opened #37 "Dividing lines in mobile view"
When using a multicol-am layout, the divider line between the sidenav and the main content area should not be visible below the small break point.

![Screen Shot 2019-09-18 at 2 25 05 PM](https://user-images.githubusercontent.com/15524465/65175128-41d81680-da20-11e9-9b14-e7ab5f022045.png)

[2019-09-18 18:31] troychaplin opened #38 "Top nav 3rd level indicator"
If someone is using the top nav, and tried to add a third level item, it does strange things... I know that's someone simply NOT following the rules. I think we should consider doing 2 things:

## 1. Remove the arrow from the second level items via css

![Screen Shot 2019-09-18 at 2 28 50 PM](https://user-images.githubusercontent.com/15524465/65175478-f114ed80-da20-11e9-84e5-64764438f2c6.png)

##

[2019-09-19 18:35] troychaplin opened #39 "Core blockquote styles"
I find padding on blockquotes to be quite tight, I would suggest we change it to be:

`padding: 15px 25px`

Also, we didn't add any styles for the <cite> tag which is used inside a blockquote to indicate who said the quote.

The following could be used to replace the current block quote styles, on line 188 of _reboot.scss

[code]

![Screen Shot 2019-09-19 at 2 31 26 PM](https://user-images.githubu

[2019-09-24 09:50] dannybrown73 commented on #37
Fixed with v0.12.2

[2019-09-24 09:50] #37 closed, assigned to dannybrown73

[2019-09-24 09:56] dannybrown73 commented on #30
Added stubs for these in About nav.

[2019-09-24 09:56] #30 closed, assigned to dannybrown73, troychaplin

[2019-09-24 10:29] dannybrown73 commented on #36
Fixed in v0.12.2

[2019-09-24 10:29] #36 closed, assigned to dannybrown73

[2019-09-24 10:31] dannybrown73 commented on #33
Moving to roadmap.

[2019-09-24 10:31] #33 closed, assigned to dannybrown73

[2019-09-24 10:32] dannybrown73 commented on #25
Docs completed - https://ravendesignsystem.github.io/rds/dev/layouts/overlay/

[2019-09-24 10:32] #25 closed, assigned to dannybrown73, troychaplin

[2019-09-24 11:07] dannybrown73 commented on #39
SCSS added to v0.12.2

[2019-09-24 11:07] #39 closed, assigned to dannybrown73

[2019-09-25 14:55] marceloglacial opened #40 "Text-Image Block: Image to the Left issue"
**Describe the bug**
Image to the Left shows a align issue when the text is shorter than text column.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a short text on the paragraph inside the `textimg__text` div.

**Expected behavior**
Text alignt to left.

**Screenshots**
Long text (working fine):

<img width="1626" alt="Screen Shot 2019-09-25 at 10 43 06 AM" src="https://user-images.git

[2019-09-25 16:23] troychaplin commented on #40
@dannybrown73 changes have been made, please take a look and QA https://github.com/ravendesignsystem/rds/compare/429c4ef1fd83...ef7c8c6fdedc

[2019-09-25 20:03] dannybrown73 opened #41 "v 0.13.0"
- Fixed: issue with text-Img block where text was aligning incorrectly when a small amount of content was in place - re.  #40

[2019-09-25 20:07] dannybrown73 commented on #40
Looks good. Change logged here https://github.com/ravendesignsystem/rds/issues/41

[2019-09-25 20:07] #40 closed, assigned to dannybrown73, troychaplin

[2019-09-26 10:22] dannybrown73 commented on #34
Fixed as of v0.13.0.

[2019-09-26 10:22] #34 closed, assigned to dannybrown73

[2019-09-26 10:23] dannybrown73 commented on #41
- Fixed: the sticky masthead no longer fires if the page is too short or does not have scroll - re. #34

[2019-09-26 17:56] troychaplin opened #42 "Revised banner styles"
I noticed there was repetition in widths in the banner scss file, as well as additional padding that prevented banner content from matching the standard width dictated by the small media query size

- All sizes were changed to use the small breakpoint var instead of being hardcoded as 768px
- Removed unnecessary width constraints (eg: h1 on basic banner) as the width is already being set by the wr

[2019-09-26 17:58] troychaplin commented on #41
QA required for #42, attn @dannybrown73

[2019-09-27 00:21] troychaplin opened #43 "Card grid documentation inconsistencies"
While reviewing the card grid block I noticed some inconsistency in expected behaviour and markup.

- Based on default styles, I assume expected bahaviour is for cards to drop to a 2 column layout at small breakpoint, and adding the `b-cardgrid--stacks`, they would drop to 1 column.
- Both the base example and the stacks modifier example in the docs drop to 1 column, but neither use the modifier.

[2019-09-27 08:45] dannybrown73 commented on #42
Re. Breadcrumbs pretty easy on this. Part of me wants to not see them wrap, which would likely only occur with really long titles.

Let's restrict them to small BP and then test some deep paths from CU websites to see how things look.

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/2328234/65755604-72cfdf80-e0e1-11e9-875d-86938e069a59.png">

[2019-09-27 08:46] dannybrown73 commented on #42
Also, everything else here is good. But let's sort the Breadcrumb thing out before closing.

[2019-09-27 08:59] dannybrown73 commented on #38
Fixed in v0.13.0 release. Added display none to secondary uls.

[2019-09-27 08:59] #38 closed, assigned to dannybrown73

[2019-09-27 09:00] dannybrown73 commented on #5
Moved to docs.

[2019-09-27 09:00] #5 closed, assigned to nobody

[2019-09-27 09:13] dannybrown73 commented on #1
Read more into. Does not apply to this package.

[2019-09-27 09:13] #1 closed, assigned to nobody

[2019-09-27 09:20] dannybrown73 commented on #43
Working on these docs...

[2019-09-27 10:36] dannybrown73 commented on #43
**NOTE:** this has pointed out some things that need refactoring. Some HTML is going to change. This should be done either today or tomorrow but if WS is working on the block in the cutheme build you may want to hold off.

Unfortunately, this is part of working with beta software. And with more people testing now we will find other things that need changing. Until we get to v1  anyone working with

[2019-09-27 18:54] troychaplin commented on #8
@dannybrown73 this one is super old, so I'm going to close it, as it will be covered in the v1 review that's about to happen

[2019-09-27 18:54] #8 closed, assigned to dannybrown73, troychaplin

[2019-09-27 18:54] troychaplin commented on #9
@dannybrown73 this one is super old, so I'm going to close it, as it will be covered in the v1 review that's about to happen

[2019-09-27 18:54] #9 closed, assigned to dannybrown73, troychaplin

[2019-09-27 18:57] troychaplin commented on #42
@dannybrown73 as per on slack conversation this morning, we'll stick with the small breakpoint for all elements on the banner

[2019-09-27 18:57] #42 closed, assigned to troychaplin

[2019-09-27 18:59] troychaplin commented on #35
@dannybrown73 gonna close this, pretty sure you redid the masthead at least 6 times since this ticket was put in

[2019-09-27 18:59] #35 closed, assigned to dannybrown73

[2019-09-27 19:06] troychaplin opened #44 "Missing docs"
Not sure if this exists somewhere, I can't find it, but we would need a basic doc to outline how the version number of RDS gets updated, as well as how to push a new version out to NPM.

I assume the best spot for this would be in the project readme, or maybe the wiki... Personally, I prefer the readme, as it's git tracked. If a wiki page gets deleted, it's flat out gone without a trace.

[2019-09-29 03:14] dannybrown73 commented on #43
This was a really old block that hadn't been looked at in a while. Pull down the dev branch and check things out for review.

[2019-09-29 16:03] troychaplin commented on #43
Issue has been solved and new documentation has been reviewed

[2019-09-29 16:03] #43 closed, assigned to dannybrown73, troychaplin

[2019-09-29 16:06] troychaplin commented on #41
@dannybrown73 closing this so we clean up issues before creating items to push for a v1.0 release

[2019-09-29 16:06] #41 closed, assigned to nobody

[2019-09-30 00:56] troychaplin opened #45 "Review: Alert Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 00:59] troychaplin opened #46 "Review: Banner Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:02] troychaplin opened #47 "Review: Masthead Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:03] troychaplin opened #48 "Review: Card Grid"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:04] troychaplin opened #49 "Review: Details Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:05] troychaplin opened #50 "Review: Listing Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:05] troychaplin opened #51 "Review: Text Image Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:06] troychaplin opened #52 "Review: Footer Brand Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:06] troychaplin opened #53 "Review: Footer Simple Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:07] troychaplin opened #54 "Review: Footer Sitemap"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 01:07] troychaplin opened #55 "Review: Login Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 02:17] troychaplin opened #56 "Review: Accordion Component"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 02:21] troychaplin opened #57 "Review: Alert Component"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 02:21] troychaplin opened #58 "Review: Button CTA Component"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 02:23] troychaplin opened #59 "Review: Card Component"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-09-30 02:24] troychaplin opened #60 "Review: Search Form Component"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-10-02 18:46] ryantwarner commented on #53
The errors returned from Tenon.io are false negatives. The markup validates on the W3C validator with a simple template added. Tested in the macOS browsers and Safari iOS and it looks good.

[2019-10-02 18:54] ryantwarner commented on #54
The Tenon.io report is again false positives. Because the rds css is not analyzed it can not know we have removed the italics in the address element. The Actionable element smaller than minimum size is a WCAG 2.1 AAA requirement and again is addressed via css. The heading errors occur because the code is not in a page template. Tested in macOS and iOS Safari and looks the same.

[2019-10-02 19:05] ryantwarner commented on #55
Tabindex above 0 antipattern. Tabindex needs to be removed across the board as it interferes with screen readers.
W3C validator fails on mobile vendor-specific attributes.

[2019-10-03 13:31] ryantwarner opened #61 "Inconsistent Path tag termination"
We are inconsistently using terminating tags in our paths. Some path tags are self terminating, others are fully terminated. Not a huge problem but we should be consistent.

Example:
https://ravendesignsystem.github.io/rds/dev/blocks/footer/footersimple/
https://ravendesignsystem.github.io/rds/dev/blocks/footer/footersitemap/

[2019-10-03 13:39] mcorkum commented on #49
Problem with inconsistent tag termination. refs: #61

[2019-10-03 13:44] mcorkum commented on #49
Content Guidelines are missing

[2019-10-03 13:46] mcorkum commented on #49
Date format looks off under "Dates and Times" - "Date and time format should always be CCYY-MM-DDThh:mm:ss as per W3C"

[2019-10-03 13:47] mcorkum commented on #49
Codepen missing on block details

[2019-10-03 14:07] ryantwarner commented on #53
Refs #61

[2019-10-03 14:07] ryantwarner commented on #54
Refs #61

[2019-10-03 14:13] mcorkum opened #62 "Tabindex accessibility error"
All tabindex's need to be set to 0 or removed.

[2019-10-03 14:28] mcorkum commented on #49
There seems to be missing mobile styles / breakpoints. Elements are cut off when re-sizing browser (see attached). This block needs to be examined from a mobile first perspective. Ceasing review until this is addressed. @troychaplin79

![Screen Shot 2019-10-03 at 10 26 05 AM](https://user-images.githubusercontent.com/1107907/66135850-8b039b00-e5c8-11e9-9c9e-e38913e60410.png)

[2019-10-03 14:31] mcorkum commented on #49
Considering there will be markup changes, i've had to uncheck the code comparison, w3c, and accessibility checkboxes. Note - these were checked and tested prior to any markup changes. Only changes need to be reviewed.

[2019-10-03 15:01] mcorkum commented on #47
There is a problem with multiple line site titles. If applied to a CMS, we have no way of determining the line break. Often systems (not just WP) return options like this as a single string. This will not work for these types of systems, as we have no way to insert <span> tags into site titles.

This will likely change markup. This should be addressed before further testing.

[2019-10-03 15:11] mcorkum commented on #60
Error on SVG - refs #61

[2019-10-03 18:00] mcorkum commented on #57
Error on the component. The H2 in the alert is being affected by the b-content heading rule. There is an override on the background (set to none), but since the component lives within b-content it will always override as the parent rule is too specific.

![Screen Shot 2019-10-03 at 1 55 26 PM](https://user-images.githubusercontent.com/1107907/66151861-29eac000-e5e6-11e9-9205-155cb9871b33.png)

[2019-10-03 18:25] mcorkum commented on #58
Ref: #61 on buttons with icons

[2019-10-03 18:53] mcorkum commented on #47
There is an issue in Chrome on on Android - the input for expanding the mobile nav menu isn't working. The menu isn't properly expanded, it does work however the second time.

[2019-10-04 13:05] mcorkum commented on #58
Good minus accessibility testing.

[2019-10-04 13:05] troychaplin opened #63 "IE11 Fixes"
Any issues that were not easily solved in IE11 will be noted here as a comment and we can get together and look at the best way to solve it together.

- Make note of the block/component that still has issues
- Briefly describe the issue

[2019-10-04 13:05] mcorkum commented on #60
Good except accessibility

[2019-10-04 13:22] mcorkum commented on #63
On the alert block, there is an issue with the top menu covering the alert on scroll down then scroll back up.

![Screen Shot 2019-10-04 at 9 22 36 AM](https://user-images.githubusercontent.com/1107907/66210728-83a3c680-e688-11e9-813a-cc9354694604.png)

[2019-10-04 13:24] mcorkum commented on #63
Masthead block: Problem with masthead title width overlapping navigation. Note, likely needs to be tested with longer titles.

![Screen Shot 2019-10-04 at 9 23 38 AM](https://user-images.githubusercontent.com/1107907/66210834-bbab0980-e688-11e9-91db-3a0dcc2dec3b.png)

[2019-10-04 13:25] mcorkum commented on #63
Masthead block: Problem with secondary menu items spacing top nav issue

![Screen Shot 2019-10-04 at 9 24 46 AM](https://user-images.githubusercontent.com/1107907/66210915-eb5a1180-e688-11e9-96a9-287d1df8e173.png)

[2019-10-04 14:20] mcorkum opened #64 "Missing Layouts / Documents"
There are no examples of an A-M-A layout in the documentation for testing.

[2019-10-04 14:23] mcorkum opened #65 "Missing Nav Dropdown Example"
Need an example for testing the second level of the horizontal site-wide Top Nav

[2019-10-04 14:32] mcorkum commented on #64
Also missing the docs/dev/blocks/header/search/ page

[2019-10-04 14:35] troychaplin opened #66 "Aside block with images"
I'm confused as to why images in aside blocks are forcing max-heights at 2 different breakpoints? I didn't see anything mentioned in the documentation on requirements or restrictions for images, but before i clean up that stuff, I wanted to ask if there was a reason why we are doing this?

https://ravendesignsystem.github.io/rds/dev/blocks/aside/sidebar/

This is the block of CSS that I was lookin

[2019-10-04 14:44] mcorkum commented on #63
/docs/dev/components/alert/

Icons aren't aligned

![Screen Shot 2019-10-04 at 10 43 43 AM](https://user-images.githubusercontent.com/1107907/66216716-f36b7e80-e693-11e9-9425-f0305d04ca11.png)

[2019-10-04 14:58] mcorkum opened #67 "Button component text overflow"
Currently buttons have white-space: nowrap, which causes text to overflow outside the button.

Is this the expected functionality?

If the text is cut off, the button will need overflow: hidden to prevent scroll bars. If the text isn't cut off, does the button go to two lines?

Example with "text-align: center and white-space: nowrap" removed from the component

![Screen Shot 2019-10-04 at 10 57 4

[2019-10-04 15:05] mcorkum opened #68 "Docs Issues: Icon Component Grid"
These issues are not directly related to blocks, but errors I found on documentation pages specifically. These are non-critical, but should be addressed at some point.

[2019-10-04 15:06] troychaplin opened #69 "Details block flex fallback"
Block was written with css grid but there's no flexbox fallback and the block does not render properly in IE11. This needs to be looked at and fixed.

Once completed, check off the todo in issue #70

[2019-10-04 15:07] mcorkum commented on #68
On icon component page, the rollover text in red looks misaligned. Also on IE11, the grid will not extend beyond 3 items

![Screen Shot 2019-10-04 at 11 05 31 AM](https://user-images.githubusercontent.com/1107907/66218375-0e8bbd80-e697-11e9-85e9-8621b82f162d.png)

IE11:
![Screen Shot 2019-10-04 at 11 05 57 AM](https://user-images.githubusercontent.com/1107907/66218386-13507180-e697-11e9-9004-6b646

[2019-10-04 15:09] mcorkum commented on #63
Menu pop-up component isn't properly aligned for the "click" versions. The hover version seems to work fine.

![Screen Shot 2019-10-04 at 11 09 35 AM](https://user-images.githubusercontent.com/1107907/66218580-75a97200-e697-11e9-8067-3bea5bc244a3.png)

[2019-10-04 18:13] troychaplin commented on #63
Listing block, svg icons need some work for IE11, heights are way out of sorts

[2019-10-04 22:04] dannybrown73 commented on #67
@mcorkum looking at this quickly in the browser...how are you getting what's in your screenshot? I quickly added a long string and things don't wrap like that. Can you share HTML? thx.

<img width="1591" alt="image" src="https://user-images.githubusercontent.com/2328234/66243132-6ba46500-e6d1-11e9-8104-18e57a4cc52e.png">

[2019-10-04 22:10] dannybrown73 commented on #66
Not sure. I cannot remember. Go ahead and remove both.

[2019-10-04 22:13] dannybrown73 commented on #65
Do you mean this? https://ravendesignsystem.github.io/rds/dev/blocks/header/masthead/#masthead-with-sub-navigation

[2019-10-04 22:18] dannybrown73 commented on #64
Re. Search block. It is found under Dialog blocks but the menu was all messed up. This was fixed and pushed to Dev branch.

Locally you can see it here now - http://localhost:3000/docs/dev/blocks/dialog/search/

[2019-10-04 22:21] dannybrown73 commented on #64
Re. AMA layouts. Is this what you are looking for? https://ravendesignsystem.github.io/rds/dev/layouts/multi-column/#three-column%3A-a-m-a-layout

[2019-10-07 13:30] #66 closed, assigned to dannybrown73, troychaplin

[2019-10-07 13:50] troychaplin commented on #64
@dannybrown73 the doc page you reference does not have a live example of the a-m-a layout for us to visually preview in IE11. I'm not sure how to go about creating one with the twig templating structure. Not critical for v1 of cutheme, but something we'll wanna look at sooner than later.

[2019-10-07 13:55] troychaplin opened #70 "IE11 Review: Misc Items"
The following is a list of items that still need to be looked at for IE11

## Blocks

- [x] Masthead — something with <nav> is off causing issues, we need a live example of a nav item with children 
- [x] Alert header — when scrolling back up alert block is hidden under nav. Inline style of margin-top 15px that is applied when user starts to scroll down is not being zero’d out when user comes back

[2019-10-07 13:55] mcorkum commented on #67
This is a problem specific to IE11

[2019-10-07 14:01] troychaplin commented on #67
Assuming expected behaviour is to NOT allow text to wrap, I added an overflow hidden to the button to fix a minor issue in IE11

[2019-10-07 14:01] #67 closed, assigned to mcorkum, dannybrown73, troychaplin

[2019-10-07 14:02] troychaplin commented on #63
@mcorkum this is referenced in issue #70

[2019-10-07 14:03] troychaplin commented on #63
@mcorkum this is referenced in issue #70

[2019-10-07 14:03] troychaplin commented on #63
@mcorkum referenced in issue #70

[2019-10-07 14:04] troychaplin commented on #63
CSS for both block and component alerts were reviewed and modified to fix IE11 issues, and allow for better sharing of component inside the block

[2019-10-07 14:04] troychaplin commented on #63
@mcorkum referenced in issue #70

[2019-10-07 14:05] troychaplin commented on #63
fixed and merged to develop

[2019-10-07 14:06] troychaplin commented on #63
All things referenced in this issue have either been resolved, or noted during a follow up IE11 review. This ticket will be closed and final IE11 fixed are being done in issue #70

[2019-10-07 14:06] #63 closed, assigned to ryantwarner, mcorkum, troychaplin

[2019-10-07 14:10] troychaplin commented on #68
One of the issues here is happening because there are hidden items inside `u-grid`... Even though there are hidden inputs, the grid has no way of knowing these are hidden and they are being considered a grid item.

I tested the removal of all the input items in the grid layout, and things work just fine (not including the red button issue)

[2019-10-07 14:15] troychaplin commented on #68
I fixed the issue with the red button

[2019-10-07 15:18] troychaplin commented on #68
Assigned to @dannybrown73 for further clarification on whether or not the input items need to sit outside each grid item

[2019-10-07 15:19] troychaplin commented on #65
@dannybrown73 that's only an image. Can you explain how and where we can modify one of the examples in the doc page to include a drop down so we can look to fix all the issues the masthead has in IE11?

[2019-10-07 17:34] mcorkum opened #71 "Catch all polyfill for IE"
We're running into a few JS issues with IE11. I've done some research and my suggestion is to add this to the header:

[code]

This polyfill script detects the browser, and returns the missing polyfills needed for that browser.  The if IE statement only works for older browsers, so this should prevent edge from calling the external JS.

This would keep us covered in the future for all JS polyfills

[2019-10-07 19:17] mcorkum commented on #71
Also there's an NPM package https://babeljs.io/docs/en/babel-polyfill

Not sure how this interacts with the rest of the code, or if it's better to keep it IE specific. Although, something that scans your browser for missing compatibilities and adds them sounds pretty great if it's not heavy.

[2019-10-07 19:18] mcorkum commented on #71
Need opinions here on what is best.

[2019-10-07 22:22] dannybrown73 commented on #71
I'll look to have a look asap. polyfill.io is likely all that is needed for js.

[2019-10-08 12:19] mieradi commented on #71
@dannybrown73 what is actually needing a polyfill within the project? I can implement the standalone code for those instead of adding a whole package. I imagine it's just class additions and removals as per our last convo?

[2019-10-08 12:23] marceloglacial commented on #71
@mieradi Maybe we can use Babel and Differential serving:
https://css-tricks.com/differential-serving/
https://babeljs.io/docs/en/babel-polyfill

import "core-js/stable";
import "regenerator-runtime/runtime";

[2019-10-08 12:35] mieradi commented on #71
@marceloglacial yeah we can include the whole thing, I just want to see what we need a polyfill for. If it's only one or two things, I can just include those fills and not have to run the whole dependancy. Regardless, it's not that heavy.

[2019-10-08 14:56] dannybrown73 commented on #71
I don't know. @mcorkum reported js errors in IE11 but I don't see them in the console. @mcorkum can you paste the JS errors in IE11.

[2019-10-08 15:09] mieradi commented on #71
@troychaplin79 When you finish the Webpack setup, add this to the setup. This should fix your issue, and if not we can import it to the index.js and be done with it.
https://babeljs.io/docs/en/babel-polyfill

[2019-10-08 15:59] dannybrown73 commented on #71
Does the deprecation notice matter for our use case?

[2019-10-08 17:36] dannybrown73 commented on #68
This is not a part of RDS and is only in the docs theme. It should be fixed but not required for 1.0 so going to mark as low priority and create a 'Docs only' tag.

[2019-10-08 17:48] dannybrown73 commented on #69
Have a look with the updated autoprefixer and let's re-review. May still need a rewrite?

[2019-10-08 17:52] dannybrown73 commented on #61
Edit// ha I follow now... think as Path tag termination is new o me.

Need to change href="https://www.facebook.com/carletonuniversity"
to href="https://www.facebook.com/carletonuniversity/"

and be consistent...?

[2019-10-08 22:39] dannybrown73 opened #72 "Issue with new Webpack setup"
## Issue: production CSS files not minified

When I run `prod` the CSS file that ends up in the versioned folder is not minified and contains source maps.

for reference in: dist > 0.13.0 >. rds-cu.css

[2019-10-09 00:47] troychaplin commented on #72
I deleted everything in dist, except changelog, readme and package files, and ran `npm run prod` and everything is being minified as expected.

Just to be sure, I did a second test by deleting my node_modules, and vendor folder, composer.lock and package-lock.json, then clearing composer cache. I reinstalled the composer and package resources, deleted stuff in dist folder again, and ran `npm run p

[2019-10-09 01:27] troychaplin commented on #72
@dannybrown73 i replaced the copy plugin with a file manager plugin, as it allows stuff to run before and after bundle. I am now able to replicate the original dist structure. Best way to test is to delete node modules, reinstall npm packages, then doing npm run prod will clean up the old dist files and generate all the new stuff

I don't see anything else here that needs to be done, unless there'

[2019-10-09 02:10] troychaplin commented on #65
Note to self, we can add a few options in masthead for proper testing by uncommenting items that exist in `/src/_blocks/masthead/masthead.twig`

[2019-10-09 12:29] dannybrown73 commented on #72
The production CSS is 240k filled with source maps. We'll want those removed.

[2019-10-09 15:10] troychaplin commented on #72
Webpack config has been finalized and merged into develop

[2019-10-09 15:10] #72 closed, assigned to dannybrown73, troychaplin

[2019-10-09 16:59] troychaplin commented on #70
Removed todo for details block, already has an individual issue in #69

[2019-10-09 17:07] troychaplin commented on #71
I could be wrong, but @mcorkum after the stuff you worked on this morning, this is no longer needed, correct?

[2019-10-09 19:12] dannybrown73 commented on #71
I should also mention, there are polyfills imported already into the project to resolve previous ie issues. If there aren't any further IE JS related issues, there's a chance we do not need this.

[2019-10-09 19:23] dannybrown73 commented on #62
@mcorkum can we reference where the code for these issues is/are? Maybe someone removed some?

[2019-10-11 02:13] troychaplin commented on #69
Changed the CSS Grid to match up better with flexbox in order to build a fallback for IE11. @dannybrown73 if you want to QA this before it is merged into develop, please recompile using the GH-69 feature branch.

[2019-10-11 03:19] troychaplin opened #73 "IE11 Review: Layout"
We need to setup static files with layout examples for layout-ma and layout-ama and test them in IE11

[2019-10-11 03:21] troychaplin commented on #70
Moved layout checks into issue #73, while those should be done asap, they are not a blocker for moving forward with cutheme, so they could wait and be reviewed for RDS v1.1

[2019-10-14 13:02] dannybrown73 commented on #69
@troychaplin79  Looks good. Good job. Merge away.

[2019-10-14 13:02] dannybrown73 commented on #69
Looks good. Good job. Merge away.

[2019-10-14 18:31] troychaplin commented on #69
Changes merged into develop

[2019-10-14 18:31] #69 closed, assigned to troychaplin

[2019-10-14 18:33] troychaplin commented on #65
All hidden items were tested in IE11, this ticket is no longer needed. Anything further will be found and fixed as a part of issue #47

[2019-10-14 18:33] #65 closed, assigned to mcorkum, dannybrown73, troychaplin

[2019-10-14 18:35] troychaplin commented on #71
There's only 1 final IE11 issue to fix, as noted in issue #70, it's not looking like we'll need any additional polyfills. Going to close this for now, and we'll revisit additional polyfills is necessary

[2019-10-14 18:35] #71 closed, assigned to mcorkum, dannybrown73, marceloglacial, mieradi, troychaplin

[2019-10-14 18:36] troychaplin commented on #64
This will be tested as per issue #74

[2019-10-14 18:36] #64 closed, assigned to dannybrown73

[2019-10-15 12:48] #70 closed, assigned to mcorkum, troychaplin

[2019-10-15 12:51] mcorkum opened #74 "IE 11 - Menu Pop-up"
All pop-up items work in IE11 if the main container is an a href. The button element doesn't work properly in IE11.

If I change the button element to input type=button, it works - but the style is off.

Need to make a markup choice here. Do we stay with button? If so not sure IE11 will work.

[2019-10-15 12:55] mcorkum opened #75 "IE11 - Expand all doesn't work"
The "expand all" doesn't work for IE11

[2019-10-15 13:38] troychaplin commented on #73
Stand alone php templates were created and tested using the latest compiled CSS from the dev branch

[2019-10-15 13:38] #73 closed, assigned to troychaplin

[2019-10-15 16:49] mcorkum commented on #75
Solution is to hide for IE

[2019-10-15 16:53] mcorkum commented on #62
Looks like it! closing!

[2019-10-15 16:53] #62 closed, assigned to nobody

[2019-10-15 16:54] mcorkum commented on #61
It's mainly the SVG, `<svg />`

[2019-10-15 17:14] #75 closed, assigned to troychaplin

[2019-10-15 18:25] mieradi commented on #50
**Docs**
I think a rewording of of the note for **Listing blocks in two columns** could be clearer.

**Current**
_**Note** how the headings in the block switch to `<h4>`s as they followed `<h3>`s._

**Proposed change**
_**Note** Any heading following an `<h4>` needs to be changed to an` <h3>` as seen in the above example_

[2019-10-15 19:14] mcorkum opened #76 "Example text-image markup causes validation and accessibility errors"
On this page:  https://ravendesignsystem.github.io/rds/dev/blocks/main/textimg/

In the last example titled "Supports centered block headings"

The markup here is wrapped in `<section>` - this is normally fine except it is an error (both w3c and WCAG) to have a `<section>` with no heading.

[2019-10-15 19:29] mcorkum commented on #76
Also, the examples themselves have a `<section>` in them - this is an error when there is no heading in the block (see the last example), first block.

[2019-10-16 01:53] troychaplin commented on #50
@mieradi please note, i've update the order of testing to make accessibility and validation the last step. Also, there's a new section where I've created stand alone templates, these should be better for testing as they will not have the same errors as what we may be seeing in the doc pages themselves

[2019-10-16 12:35] mcorkum commented on #48
As a note - there is already a branch for this, I fixed some docs.

[2019-10-16 12:37] marceloglacial commented on #59
**Card with title and description:**
- The code example doesn't have a description tag.
- The code example has a different image.

**Screenshots:**

<img width="1153" alt="Screen Shot 2019-10-16 at 9 10 05 AM" src="https://user-images.githubusercontent.com/11657599/66922302-c81e5300-eff4-11e9-8a21-20186fdfcf83.png">

<img width="811" alt="Screen Shot 2019-10-16 at 8 08 57 AM" src="https://user-ima

[2019-10-16 13:50] marceloglacial commented on #59
**All the cards with shadows**
- Shadow is being cut on resolutions below 1100px;
- Same behaviour on:
  - Tablet (responsive)
  - Mobile (responsive)
  - Chrome
  - Chrome on iOS
  - Chrome on Android
  - Firefox
  -  Safari
  - Safari on iOS

P.S.: Works fine outside RDS website (last screenshot).

**Screenshots:**

<img width="816" alt="Screen Shot 2019-10-16 at 9 32 32 AM" src="https://user-im

[2019-10-16 14:14] mieradi commented on #45
**Issue**
Alert is cut off when scrolled out of, and back into view.
_Affected platforms_
IE11

**Issue**
Alert jumps when nav hides on scroll
_Affected platforms_
Mobile

[2019-10-16 14:50] mieradi commented on #46
**Issue**
Overcomplicated block description. I think this would benefit from a re write as it's such a basic block.

**Issue**
Block description should be moved after all examples. It feels like the pages ends while there is much more content

[2019-10-16 15:30] mcorkum commented on #50
@mieradi - coming back to you, there were some CSS changes and a few markup changes. Could you please test again quickly.

[2019-10-16 16:52] mieradi commented on #50
Done!

[2019-10-16 17:19] mieradi commented on #52
**Issue**
Menu items are squished and not aligned
_Affected platforms_
All mobile

[2019-10-16 17:20] mcorkum commented on #50
@troychaplin79 - This block is complete

[2019-10-16 17:49] mieradi commented on #53
**Issue**
Social icons break and leave an orphan.

_Affected platforms_
Mobile

_Suggested fix_
Move to 2 or 3 item grid on mobile

[2019-10-16 18:14] troychaplin commented on #46
@mieradi could you please quickly recheck changes for browser compatibility and let me know, then this issue is done :)

[2019-10-16 18:21] mieradi commented on #54
**Issue**
Inconsistent markup - fixed

**Issue**
Documentation stating the sitemap is hidden on mobile needs to be added

**Issue**
Contact column alignment is off in my VM - needs a double check.

[2019-10-16 18:30] marceloglacial commented on #51
**Issue**
The docs says:  "In general, the amount of text used should be the same height as the image on large screens. This will, of course, differ if you use a large or small block size."

Bottom padding too thin when we using a large block with text shorter than the image height.

Detected on: Chrome, Firefox and Safari (desktop).

<img width="1242" alt="Screen Shot 2019-10-16 at 2 22 36 PM" sr

[2019-10-16 18:30] mcorkum commented on #49
@troychaplin79 - block is complete

[2019-10-16 18:32] #50 closed, assigned to troychaplin

[2019-10-16 18:33] #49 closed, assigned to mcorkum, troychaplin

[2019-10-16 18:33] mcorkum commented on #48
@troychaplin79 Done

[2019-10-16 18:37] mieradi commented on #46
Reviewed and complete.

[2019-10-16 18:37] #48 closed, assigned to troychaplin

[2019-10-16 18:37] #46 closed, assigned to troychaplin

[2019-10-16 18:39] mcorkum commented on #45
@mieradi - block is reviewed for WCAG / W3C. This issue is JS, moving your issue to the masthead ticket (#47)

[2019-10-16 18:39] mcorkum commented on #47
Issue
Alert is cut off when scrolled out of, and back into view.
Affected platforms
IE11

Issue
Alert jumps when nav hides on scroll
Affected platforms
Mobile

[2019-10-16 18:40] mcorkum commented on #45
@troychaplin79 done

[2019-10-16 18:40] #45 closed, assigned to troychaplin

[2019-10-16 18:43] mcorkum commented on #55
W3C reports an error with the autocomplete / autocorrect attributes on the input. These are actually fine, W3C is wrong.

@troychaplin79 - Done

[2019-10-16 18:44] troychaplin commented on #52
@mieradi i don't see any mobile issues, checking on my iPhone. I assume this might be an issue with BS not rendering properly

[2019-10-16 18:47] mieradi commented on #56
**Issue**
Docs: there is a TODO at the bottom of the page

[2019-10-16 19:01] troychaplin commented on #53
Fixed issue with margin being added to last icon in the list, not gonna worry about widows based on a lower screen width, most users won't have all those icons anyway

[2019-10-16 19:01] #53 closed, assigned to mcorkum

[2019-10-16 19:03] marceloglacial commented on #51
**Issue:**
Bottom spacing is too big:
https://devsite.carleton.ca/rds-testing/block-textimg.php

Detected on: Chrome, Firefox and Safari (desktop).

**Screenshots**

<img width="949" alt="Screen Shot 2019-10-16 at 2 33 31 PM" src="https://user-images.githubusercontent.com/11657599/66950272-0a13bd00-f026-11e9-89d5-6c5b60455fd1.png">
<img width="1006" alt="Screen Shot 2019-10-16 at 2 24 11 PM" src="

[2019-10-16 19:16] marceloglacial commented on #51
**Bock Details**

Link to variants: Left image is not working

https://ravendesignsystem.github.io/rds/dev/blocks/main/textimg/#left-image

[2019-10-16 19:17] marceloglacial commented on #51
**CodePen**
Everything is broken on CodePen.
https://codepen.io/cuweb/pen/pozdQzK?editors=1000

**Screenshot**

<img width="1319" alt="Screen Shot 2019-10-16 at 3 16 55 PM" src="https://user-images.githubusercontent.com/11657599/66951281-07b26280-f028-11e9-930b-42e04e6b1233.png">

[2019-10-16 19:18] mcorkum commented on #56
@troychaplin79 - Spacing between first accordion and text on the example page is too tight. Needs to be addressed.

[2019-10-16 19:20] #52 closed, assigned to troychaplin

[2019-10-16 19:28] troychaplin commented on #54
Note re: hidden for mobile has been made in docs, no issue found in columns

[2019-10-16 19:28] #54 closed, assigned to troychaplin

[2019-10-17 12:08] mcorkum commented on #56
Accessibility needs to be addressed in JS @mieradi

[2019-10-17 12:46] mcorkum commented on #58
Done!

[2019-10-17 12:54] mcorkum commented on #57
Done!

[2019-10-17 12:58] mieradi commented on #47
**Issue**
"Menu Is Too Wide" banner cuts off logo
_Affected platforms_
IE11

**Issue**
Name/Logo overlaps menu items when present
_Affected platforms_
IE11

**Issue**
mobile menus have too much padding bottom
_Affected platforms_
mobile

[2019-10-17 13:10] #55 closed, assigned to troychaplin

[2019-10-17 13:27] mieradi commented on #56
Accessibility JS issues completed

[2019-10-17 13:39] #58 closed, assigned to troychaplin

[2019-10-17 13:55] troychaplin commented on #56
@mcorkum ready for final testing, spacing issues are fixed, and new css and js has been pushed to devsite for proper testing

[2019-10-17 13:59] #57 closed, assigned to troychaplin

[2019-10-17 14:01] troychaplin commented on #74
These work fine when used in the masthead, there's currently an example in develop now using the "submenu" top nav item

[2019-10-17 14:08] mcorkum commented on #56
@troychaplin79 - Done

[2019-10-17 14:31] troychaplin commented on #59
@mcorkum drop shadow and incorrect code example in docs has been fixed, all dist resources have been pushed to devsite for final testing

[2019-10-17 14:31] #56 closed, assigned to troychaplin

[2019-10-17 14:43] marceloglacial commented on #51
Review done. Added some comments.

[2019-10-17 14:50] mcorkum commented on #59
Done

[2019-10-17 14:50] mcorkum opened #77 "Accessibility: Masthead"
Need aria controls on the following items:

## Nav

- nav items that have child menus (also relates to menu popup components)

## Overlays
When clicked, the overlays would need `aria-haspopup="true"` and `aria-labelledby="ElementID"`

- search button
- login button
- hamburger button

[2019-10-17 14:51] mcorkum opened #78 "Accessibility: Side Nav"
Needs aria controls

[2019-10-17 14:51] #59 closed, assigned to troychaplin

[2019-10-17 14:52] mcorkum opened #79 "Accessibility - Menu-pop up"
Needs Aria Controls

[2019-10-17 14:57] mcorkum opened #80 "Accessibility - Login / Search dialogs"
Needs aria controls

[2019-10-17 16:20] troychaplin commented on #51
-- codepen is fixed, was using very old css and markup
-- spacing issues are a result of using positioning and forcing heights on elements.

Given the way the markup and functionality is intended to be (always having image above content, but underneath heading), this is a necessary evil. Hopefully in a few months time we can official drop IE11 support, as this would be the first block that I would

[2019-10-17 16:35] mcorkum commented on #51
Done!

[2019-10-17 16:39] #51 closed, assigned to troychaplin

[2019-10-17 16:45] troychaplin opened #81 "Review: Content Block"
Before we can get RDS to version 1.0, blocks and components require on final review using the following lists. Any relevant notes about this review, whether it be suggestions, specific notes about changes made, or URL references to resources or additional supporting information, please add as a comment.

## Links

The RDS doc link is where you can find the item to be reviewed. The file path is the

[2019-10-17 17:12] marceloglacial commented on #60
Typo at the paragraph: "The Search block can be used in the header section and the overlay section. If you are using a search button in you Masthead block (...)"

Suggestion:  "a search button in **your** Masthead block".

[2019-10-17 17:35] marceloglacial commented on #60
Review done.

[2019-10-17 17:46] troychaplin opened #82 "Masthead questions / issues"
Not sure if the code in the docs is out of date, or if I'm just not setting this up properly... but I'm having some issues, and have been working with [this template](https://devsite.carleton.ca/rds-testing/block-overlay.php) for testing purposes

- hamburger icon only shows on mobile, but doesn't do anything when clicked on, even though I see the code in the overlay (but when you click search in

[2019-10-17 17:53] troychaplin commented on #60
Doc page for search block updated, component is used inside that block, so we can consider this review as completed

[2019-10-17 17:53] #60 closed, assigned to troychaplin

[2019-10-17 17:56] troychaplin commented on #80
@mcorkum what part of this needs aria controls? A specific element? When they are used as a part of an overlay? Can you please provide more information?

[2019-10-17 17:57] troychaplin commented on #79
@mcorkum what part of this needs aria controls? A specific element? Can you please provide more information?

[2019-10-17 17:57] troychaplin commented on #78
@mcorkum what part of this needs aria controls? A specific element? Can you please provide more information?

[2019-10-17 18:10] mieradi commented on #82
There are a few issues that we should review here.  What would the most ideal what to go over this? I could also rewrite the whole thing if that's the best option.

[2019-10-17 18:22] mcorkum commented on #80
https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

The element clicked needs to have aria-haspopup="true" and aria-labelledby=[IDofElement]

When clicked, the hidden div should have aria-hidden=true and it should change to aria-hidden=true

[2019-10-17 18:25] troychaplin commented on #82
@mieradi can you add a list of the issues you mention, @dannybrown73 is hoping to jump in and look at this a bit later today

[2019-10-17 18:27] mcorkum commented on #78
Any element that you click to expand needs this.

Example is here
https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html

[2019-10-17 18:28] mcorkum commented on #79
Similar to the nav menu, hidden content needs to be announced when the action is fired.

Example is here
https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html

[2019-10-17 18:37] troychaplin commented on #79
Referenced in #77, keeping all masthead accessibility issues in one spot

[2019-10-17 18:37] #79 closed, assigned to troychaplin

[2019-10-17 18:37] troychaplin commented on #80
Referenced in #77, keeping all masthead accessibility issues in one spot

[2019-10-17 18:37] #80 closed, assigned to troychaplin

[2019-10-17 18:38] mcorkum commented on #77
Example Markup for the navigation structure

The principle here applies to both the side nav (#78), the main nav, and the menu-pop-up.

[code]

On click, the aria-expanded="false" needs to switch to true.

[2019-10-17 18:42] mcorkum commented on #78
Example Markup for the navigation structure

The principle here applies to both the side nav, the main nav, and the menu-pop-up.

[code]

On click, the aria-expanded="false" needs to switch to true.

[2019-10-17 18:51] mcorkum commented on #77
For dialog accessibility, the control element (the thing that opens it) needs nothing.

The dialog itself needs `<div class="dialog" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description">`

However, there needs to be additional Javascript to set focus, and CSS rules as well. All info with examples is in this short article: https://bitsofco.de/accessible-modal-dialog/

[2019-10-17 19:16] marceloglacial commented on #81
**Large Images**
Are not loading.
Detected on: IE11.

**Screenshot**

<img width="1651" alt="Screen Shot 2019-10-17 at 3 14 46 PM" src="https://user-images.githubusercontent.com/11657599/67040212-000ac080-f0f1-11e9-81d5-b064dbc126c6.png">

<img width="1638" alt="Screen Shot 2019-10-17 at 3 09 14 PM" src="https://user-images.githubusercontent.com/11657599/67040368-5d067680-f0f1-11e9-9bee-9916a39230

[2019-10-17 19:17] marceloglacial commented on #81
**Audio**
Unsupported file type.
Detected on: IE11 and Edge.

**Screenshot**

<img width="1656" alt="Screen Shot 2019-10-17 at 3 06 02 PM" src="https://user-images.githubusercontent.com/11657599/67040309-3b0cf400-f0f1-11e9-91aa-1fa7c1b53f02.png">

<img width="1637" alt="Screen Shot 2019-10-17 at 3 10 55 PM" src="https://user-images.githubusercontent.com/11657599/67040335-43fdc580-f0f1-11e9-8b09-5b

[2019-10-17 19:20] marceloglacial commented on #81
**QA Code**
Needs a break line.
Detected on IE11 and Edge.

**Screenshot**

<img width="1640" alt="Screen Shot 2019-10-17 at 3 11 35 PM" src="https://user-images.githubusercontent.com/11657599/67040523-ace53d80-f0f1-11e9-9e2c-76b146462655.png">
<img width="1641" alt="Screen Shot 2019-10-17 at 3 09 52 PM" src="https://user-images.githubusercontent.com/11657599/67040524-ace53d80-f0f1-11e9-9d7b-82ebe

[2019-10-17 19:21] marceloglacial commented on #81
Review done.

[2019-10-17 19:27] mcorkum commented on #76
I was able to fix this by editing the twig file and switching section for div if no heading exists. This also required a CSS change.

[2019-10-17 19:27] #76 closed, assigned to dannybrown73

[2019-10-18 00:15] troychaplin opened #83 "Masthead Requirements"
The following are the requirements to review/update for the masthead:

## Masthead

- [x] Masthead does not follow the user down the page, it slides back into view when the user begins scrolling back up the page

## Site Title

- [ ] ~~Masthead with long titles: can we add a new modifier to drop titles evenly in 2 lines? this would be important for CMS tools that do not provide the level of contro

[2019-10-18 17:08] troychaplin commented on #81
- Image reference was incorrect, IE11 ignores srcset, that is what is used on all other browsers.
- Added more content to avoid QA Code issue.
- Audio issues cannot be recreated in my VM, the render and play correctly

[2019-10-18 18:44] #81 closed, assigned to troychaplin

[2019-10-21 18:17] mieradi commented on #83
@troychaplin79 can you elaborate on the Site Title requirement? Just a little confused.

[2019-10-21 18:22] troychaplin commented on #83
@mieradi right now, to break a site title on 2 lines you need to wrap part of the title in a span. This won't work in the context of cutheme, so I was planning on looking into any potential ways we could do an automatic 2 line title with CSS.

Because this is something we'll need to investigate for cutheme, and in an effort to finish RDS, I've removed this todo from this list, and once we come up

[2019-10-21 18:25] mieradi commented on #83
@troychaplin79 ok! No worries at all. We can definitely do this, just wanted to clarify.

[2019-10-28 12:53] troychaplin commented on #83
@mieradi here's a few bugs to fix

- [ ] if all buttons are removed from the masthead twig file, except search, modal close and navicon, the close functionality no longer works when clicked (comment out lines 46-91 in twig file)
- [ ] after closing the menu modal you can no longer scroll down the page. This seems to be related to some inline styles on body that aren't working in the same way as wh

[2019-10-28 20:54] dannybrown73 opened #84 "Masthead 2.0 - Error message issue"
Edit// initial with error message issue resolved by removing them.

[2019-10-28 21:05] dannybrown73 opened #85 "Masthead 2.0 - svg issue"
CTA icon misaligned after closing modal opened by masthead. See the screenshot below.

To duplicate:

- click a Masthead button, such as Search or Login
- Close the masthead

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/2328234/67717827-daa96c80-f9a4-11e9-8b94-02e5aedc259e.png">

[2019-10-29 10:07] dannybrown73 opened #86 "Masthead 2.0 - issues with submenus on mobile"
On iPhone 10 - latest iOS

**Issue 1:**

The hover submenus are hidden by what looks to be an overflow hidden issue on tap.

![Screenshot 2019-10-29 at 5 59 26 AM](https://user-images.githubusercontent.com/2328234/67757459-3827d280-fa12-11e9-972b-165d2092080f.jpeg)

**Issue 2**

The click submenu does not display. It appears to be to far off to the right of the viewport.

![Screenshot 2019-10-29 a

[2019-10-29 10:36] dannybrown73 opened #87 "Masthead 2.0 - Masthead now position: fixed"
**Describe the bug**
The new ID on the Masthead is now fixed permanently.

**To Reproduce**
Scroll page.

**Expected behaviour**
The expected default behaviour for masthead with stick option is to disappear and reappear on scroll up -  https://ravendesignsystem.github.io/rds/dev/

**Additional**
Is the id="b-masthead" required? The masthead is one of the blocks that should not have duplicates but

[2019-10-29 12:41] troychaplin commented on #86
@dannybrown73 i was looking at these issues yesterday, and I'm not quite sure what we can do with the current setup...

The overflow on tap thing also exists in master and can be recreated in the docs site right now. The problem with the menu attached to "Child Menu Example" has been there since the start as well, it also happens on desktop. This was something that you pointed out to me a while ag

[2019-10-29 14:51] dannybrown73 commented on #86
While it is in Master, I had all of this working at one point. I'm just not sure when it stopped. So I know it can work.

If you want me to take a look, I can.

[2019-10-29 16:25] dannybrown73 commented on #85
Local cache issue. Closing.

[2019-10-29 16:25] #85 closed, assigned to marceloglacial, mieradi, troychaplin

[2019-10-29 16:28] dannybrown73 commented on #84
@mieradi noticed another thing right after you removed the warning. I think we might need a resize listener after all. Right now when the masthead buttons collide with the nav, the buttons get pushed off screen instead of the nav dropping -
<img width="605" alt="image" src="https://user-images.githubusercontent.com/2328234/67787717-6d024c80-fa47-11e9-9d94-ead2f69bcfff.png">

This seems to happen o

[2019-10-29 16:38] dannybrown73 commented on #84
One more, maybe related because I don't remember it from before.

When loading on a small screen the banner is too high/hidden.

Might be another casualty of the quick delete done before lunch.

ReferenceError: Can't find variable: toggleMastheadSizeAlert

<img width="497" alt="image" src="https://user-images.githubusercontent.com/2328234/67788585-ff572000-fa48-11e9-8642-75725da723ac.png">

[2019-10-29 16:50] mieradi commented on #84
Whoops - deleted the function that detects overflow haha

[2019-10-29 16:52] #84 closed, assigned to marceloglacial, mieradi, troychaplin

[2019-10-30 10:36] dannybrown73 commented on #87
Closing in lieu of Masthead 2.0 master issue.

[2019-10-30 10:36] #87 closed, assigned to marceloglacial, mieradi, troychaplin

[2019-10-30 10:47] dannybrown73 opened #88 "Masthead 2.0 - Master Issue"
There is a lot going on with this block and I think I am probably the only one who can point out everything it was initially intended to do.

I'm suggesting I go over the remaining issues and we either fix them one at a time on the latest iteration or we refactor the whole thing. IE. SCSS & JS.

Before tackling anything here, let's meet to review.

## Vocab

**Stacked Nav** = the masthead navigati

[2019-10-30 11:36] dannybrown73 commented on #86
Closing, in lieuy of master issue

[2019-10-30 11:36] #86 closed, assigned to marceloglacial, mieradi, troychaplin

[2019-11-02 14:04] dannybrown73 commented on #88
no lomnger needed

[2019-11-04 18:36] troychaplin opened #89 "Masthead: Final JS"
With the agreed functionality changes, the Masthead block was refactored. Mostly CSS changes, reducing the code a ton but a couple of mark up changes. A lot of whats below has been done but some of the recent JS will need updating to theses changes. Good news it will get slimmed down a bunch with this renewal removing a lot of features.

The **required final changes** to JS are as follows:

**Top

[2019-11-04 18:40] troychaplin commented on #89
@dannybrown73 can you please update the todo items in the issue description if I have no captured them properly, or add anything that I'm not thinking about. When you're ok with this, please comment and tag @mieradi to let him know he can jump in. Thanks

[2019-11-06 14:34] mieradi commented on #89
This is markup dictated by tab index

[2019-11-07 19:18] troychaplin commented on #89
Things can be tabbed through by default, menus can be expanded with the enter key, then links can be followed with the enter key.

@dannybrown73 I assume this is the behaviour you were after? This is what you showed me for the top nav, and the same works on side nav (tough to tell when outline: none is set in css though)

[2019-11-08 17:46] #82 closed, assigned to dannybrown73

[2019-11-08 17:47] #88 closed, assigned to nobody

[2019-11-13 13:27] troychaplin commented on #89
Closing masthead issues related to functionality as a new issue will be created

[2019-11-13 13:27] #89 closed, assigned to dannybrown73, mieradi, troychaplin

[2019-11-13 13:28] troychaplin commented on #83
Closing masthead issues related to functionality as a new issue will be created

[2019-11-13 13:28] #83 closed, assigned to mieradi, troychaplin

[2019-11-13 13:30] troychaplin opened #90 "Masthead Issues"
The following issues were noted during a final QA and require additional work before RDS can go to version 0.14

## General

- [x] _(TC)_ Review classes, make sure no old classes still exist
- [x] _(TC)_ Sticky masthead: make sure its default, add modifier to remove sticky

## Top Nav

- [x] _(MI)_ Video was taken to better explain, see TC for more info

## Action Buttons

- [x] _(TC)_ Action butt

[2019-11-13 15:47] troychaplin commented on #90
Note: for modifier for fixed position on masthead, a new utility class for `u-absolute` was added that is available globally. This class would be added to the u-block level element to circumvent the position fixed that is applied to `#id-masthead` by default

[2019-11-13 17:43] troychaplin commented on #90
@dannybrown73 this is over to you for final QA

[2019-11-15 11:04] dannybrown73 commented on #90
There is a js console error on the docs homepage. Can someone have a look?

[2019-11-15 11:09] dannybrown73 commented on #44
Listing missing or update required  docs here:

- [x]  Masthead: docs need renewing
- [ ]  Menu block docs needed

[2019-11-15 13:51] troychaplin opened #91 "Block Updates"
There are a few blocks that were never reviewed as they do not appear in the dev docs table of contents:

~~- [ ] Global Nav - https://ravendesignsystem.github.io/rds/dev/blocks/header/globalnav/~~
- [x] Masthead CTA: white modifier was missed, needs to be added

## Other Stuff

- [x] `<code>` block styling requires fixing

[2019-11-15 14:08] dannybrown73 commented on #91
@troychaplin79  For now, Global Nav was removed from RDS as it complicated navigation when the top nav was used. We may need to get confirmation from the community but for now, it has been removed.

[2019-11-15 14:17] troychaplin opened #92 "Dev Watch Task Error"
I was looking to fix the JS error that exists on the homepage, and the `npm run dev` tasks no longer functions. There's a fatal error relating to something in a twig template from the looks of it. The error is shown in the screenshot.

![Screen Shot 2019-11-15 at 9 16 59 AM](https://user-images.githubusercontent.com/15524465/68949723-b3b2af00-0788-11ea-8052-e430b52e1cd2.png)

[2019-11-15 14:22] troychaplin commented on #90
@dannybrown73 this will be looked at when #92 has been fixed as we can no longer compile or run a watch task in dev

[2019-11-15 15:24] troychaplin commented on #91
@dannybrown73 ok, i assume we'll leave the doc files there for now in the case it gets brought back in the future?

[2019-11-20 19:43] #92 closed, assigned to dannybrown73

[2019-11-20 19:47] troychaplin commented on #90
@dannybrown73 i just went to look at this, and this is actually something that I think needs to be updated on the nav markup, not in JS... The error related to the mobile close button icon not existing on the page, so I checked things on mobile.

None of the new masthead functionality (topnav moving into the mobile nav when space runs out) is happening here. I'm guessing this is not what we want,

[2019-11-21 03:10] dannybrown73 commented on #90
This is resolved. Old code only on hp.

[2019-11-21 03:10] #90 closed, assigned to dannybrown73

[2019-11-22 19:12] #91 closed, assigned to troychaplin

[2019-11-22 19:14] troychaplin opened #93 "People card mobile design review"
Please take a closer look at the mobile view for the people card variant and make sure using a 1 column layout is the final intended look

[2019-12-18 13:14] dannybrown73 opened #94 "Update WebPack build"
Can the Webpack Dev script be updated so that the rds-cu.js and .css files that end up in dist also end up in

Build / Docs / CSS/

<img width="319" alt="image" src="https://user-images.githubusercontent.com/2328234/71089136-2dfe9680-216e-11ea-8c66-6ea3f25a75c2.png">

This will help with local testing.

[2019-12-29 17:00] dannybrown73 opened #95 "Issue with web pack prod script"
@troychaplin79 over the holidays I updated the new Masthead docs and published a new release.

When I went to publish the docs to GitHub, whenever I ran the `npm prod` command no docs were be transferred from the build folder to prod and then I realized all of the docs were also deleted from the Build folder.

So I went into  https://github.com/ravendesignsystem/rds/blob/master/webpack.prod.js
and

[2019-12-29 17:17] troychaplin commented on #95
@dannybrown73 did you follow the proper steps to create a release that i wrote a month or 2 ago? https://github.com/ravendesignsystem/rds/blob/master/RELEASE.md

[2019-12-29 17:21] dannybrown73 commented on #95
@troychaplin79  yes. No problems with the release. But the prod script needed to properly build docs for publishing was deleting all html files until I uncommented that line.

You might need to update a doc and try and push it with the line uncommented to see. Or maybe find what i did wrong.

Offhand, do you know why you were deleting the build files for local dev?

[2019-12-29 17:58] troychaplin commented on #95
If I remember correctly it was doing a cleanup before regeneration to make sure no old, unwanted files stayed in prod docs.

I’ll review when I get a chance, I had no problem when I first wrote those instructions and did my last release.

[2019-12-30 14:52] troychaplin commented on #95
@dannybrown73 I just created version 0.15.5, using a minor scss addition for testing purposes. I followed the release doc line-by-line, and everything was perfectly fine. Once I got the the final section for "Build Docs for Prod", I watched the /build/docs folder get cleaned out, and new docs get generated. This is what I expected to happen, and I had no trouble fully finishing a new release.

[2020-01-01 15:31] dannybrown73 commented on #95
Ok. This looked like a missing npm modules and is fixed.

[2020-01-01 15:31] #95 closed, assigned to troychaplin

[2020-01-01 15:42] dannybrown73 opened #96 "Masthead block JS issues"
To help test the Masthead block, the following stories were set up in src/blocks/masthead/stories:

Some throw JS errors, mostly due to missing elements so we might need some checks/conditionals in the JS so each Masthead story can be published independently. Noting errors below each link.

- [x] [Base - Title and branding](https://ravendesignsystem.github.io/rds/dev/blocks/header/masthead/stories

[2020-01-06 22:49] troychaplin opened #97 "Multicol Layout Updates"
New scss can be found here: https://github.com/cuweb/cutheme/blob/develop/src/scss/rds/_layout-multicol.scss

Markup examples are here: https://github.com/cuweb/cutheme/blob/develop/_rds-markup/_layouts.php

**Notes:**

- for multicol__nav, the u-sticky class needs to move down a level. Based on markup, u-sticky now should be applied at the b-menu level for it to continue to function (previously i

[2020-01-08 23:39] #97 closed, assigned to dannybrown73

[2020-01-09 14:00] troychaplin commented on #96
Errors fixed and RDS v0.16.3 has been deployed

[2020-01-09 14:00] #96 closed, assigned to mieradi, troychaplin

[2020-03-26 18:14] mcorkum opened #98 "Forms: Remove outline / focus on unwanted elements in chrome"
Focus seems to be applied inconsistently across elements and browsers. For example see radio buttons in Chrome:

![Screen Shot 2020-03-26 at 2 06 35 PM](https://user-images.githubusercontent.com/1107907/77681009-1d2e9f80-6f6b-11ea-9845-57fa83510914.png)

In safari, only text inputs have focus. I'm not sure which is correct here

To see this issue, go here: [https://ravendesignsystem.github.io/rds/

[2020-03-26 18:18] mcorkum opened #99 "Forms: Need styling on disabled / readonly form inputs"
Currently, disabled / readonly form elements look no different from other elements. Typically these are greyed out / darker.

For example on this page: [https://devsite2.carleton.ca/cu-banner-api/intake-form.php](https://devsite2.carleton.ca/cu-banner-api/intake-form.php)

The banner ID field is readonly and the user is not able to edit, yet it looks like a regular field

![Screen Shot 2020-03-26

[2020-03-26 18:26] mcorkum opened #100 "Forms: Need markup / styles for denoting required fields"
Currently there are no examples of required fields.

There is an example on the site of an field with an error, but I don't think we want to use the same style for required.

My suggestion would be to add a * required within the label, and style it appropriately.

[2020-03-26 18:30] mcorkum opened #101 "Forms: Select fields need “value” property in examples"
In the example markup for select lists on the form page: [https://ravendesignsystem.github.io/rds/dev/components/content/form/](https://ravendesignsystem.github.io/rds/dev/components/content/form/) the value="" is missing.

Also, if label is defined as a parameter, i'm not sure the Text is needed again in between the <option></option>

[2020-03-26 18:32] mcorkum opened #102 "Forms: Form validation"
Design systems usually include methods to validate form inputs. This can be as simple as using some HTML5 native validation (see: [https://freek.dev/914-native-html5-form-validation-in-6-lines-of-code](https://freek.dev/914-native-html5-form-validation-in-6-lines-of-code))

See ANT Design System as a good example: [https://ant.design/components/form/](https://ant.design/components/form/)

Discussi

[2020-03-26 18:34] mcorkum opened #103 "Forms: Need Date-picker"
Many of our forms include date fields. We need to choose a date-picker to use, and implement it within RDS.

[2020-03-26 18:37] mcorkum opened #104 "Forms: Styling on upload field"
Currently, the upload field is very basic, using the default browser styles. See below:

![Screen Shot 2020-03-26 at 2 36 51 PM](https://user-images.githubusercontent.com/1107907/77683760-45b89880-6f6f-11ea-8548-719499f15b0b.png)

This will work for now, and perhaps this was intentional. However, looking at examples from other design systems it seems uploads could be much nicer. See: [https://ant.

[2020-03-26 18:42] mcorkum opened #105 "Forms: Arrow on select field is misaligned when field label is used"
The examples on the RDS form page for selects have labels, but they have the class of ```u-visually-hidden```. In the example form I was building, selects needed to have labels. Removing this class results in the arrow for the select dropdown becoming misaligned

See below:
![Screen Shot 2020-03-26 at 2 42 08 PM](https://user-images.githubusercontent.com/1107907/77684196-00489b00-6f70-11ea-8779-89

[2020-03-26 18:46] mcorkum opened #106 "Forms: Field descriptions"
Many of our forms have descriptive text below the input field to add additional instructions / information.

RDS does not currently provide a way to do this, except by using the <span> tag below text inputs. However, these spans look more like validation elements. The descriptive text is usually smaller.

See an example of this generated from a current form we use (not using RDS)

![Screen Shot 20

[2020-03-27 14:14] troychaplin commented on #98
@mcorkum According to this (under the keyboard section), the focus is required: https://a11yproject.com/checklist/

[2020-03-27 14:35] troychaplin commented on #98
Looked into making outline rounded, but that's not possible. Closing this ticket, focus is a requirement for keyboard navigation

[2020-03-27 14:35] #98 closed, assigned to troychaplin

[2020-03-27 15:22] troychaplin commented on #99
Note: markup only requires `readonly`. Using `readonly="readonly"` is only required for xhtml, see https://www.w3schools.com/tags/att_input_readonly.asp

[2020-03-27 15:35] troychaplin commented on #99
Markup examples and styles for both read only and disabled fields is complete

[2020-03-27 15:35] #99 closed, assigned to troychaplin

[2020-03-27 15:50] troychaplin commented on #101
Value examples added to all select list fields that didn't have it.

[2020-03-27 15:50] troychaplin commented on #101
Reassigning issue to @mcorkum to clarify or complete the note `Also, if label is defined as a parameter, i'm not sure the Text is needed again in between the`

[2020-04-13 16:40] cudevmaxwell opened #107 "Accessibility: Add "Skip to main content" in Masthead Block, and ensure Main section has a consistent id"
**Describe the bug**
The Masthead Block should have an `a` element as it's first child, which has an anchor link to the main content section. That link should be consistently styled on all RDS pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the base Masthead Block.
2. Try to jump to main content using tab navigation.

**Expected behavior**
A "Skip to main content" link should appe

[2020-04-14 12:35] troychaplin commented on #101
Value attributes added to select list examples. Label and text inside the option tag will remain, as all examples of an accessible select list use both. Not 100% clear if it's required, but leaving it in would be better just in case.

[2020-04-14 12:35] #101 closed, assigned to mcorkum

[2020-04-14 12:42] troychaplin commented on #104
Added an svg icon to improve the design without modifying the basic markup of an upload field. The Ant example hides the default inpout and builds a new one with a lot of additional markup, which i wanted to avoid

[2020-04-14 12:42] #104 closed, assigned to troychaplin

[2020-04-14 12:43] troychaplin commented on #105
Style issues have been fixed

[2020-04-14 12:43] #105 closed, assigned to troychaplin

[2020-04-14 12:57] troychaplin commented on #106
As per a decision by @dannybrown73, all form descriptions should be placed directly below the label and above the input. Styles have been updated for this

[2020-04-14 12:57] #106 closed, assigned to troychaplin

[2020-04-14 15:40] troychaplin commented on #107
Note to self, RDS has this, it exists immediately after the opening body tag as:

`<a class="u-visually-hidden" href="#content">Skip to main content</a>`

This is not reflected on the getting started page, and the base markup example needs to be updated: https://ravendesignsystem.github.io/rds/dev/getting-started/

[2020-04-15 01:59] troychaplin commented on #100
Information relating to required fields, as well as readonly and disabled inputs can be found near the bottom of https://ravendesignsystem.github.io/rds/dev/blocks/main/forms/

[2020-04-15 01:59] #100 closed, assigned to troychaplin

[2020-04-15 02:08] troychaplin commented on #107
The [getting started](https://ravendesignsystem.github.io/rds/dev/getting-started/) documentation has been updated to add the skip to main content link in the basic page markup example

Other items in the doc that have been updated include new links to the CSS and JS resources on CND (referencing only gzip versions)

[2020-04-15 02:08] #107 closed, assigned to troychaplin

[2020-04-17 15:02] mcorkum opened #108 "Disabled fields should be greyed out"
Currently there are no styles to indicate that fields are disabled.

[2020-04-17 15:05] troychaplin commented on #108
Styles done in dev, will be pushed to master with the next release

[2020-04-17 15:05] #108 closed, assigned to troychaplin

[2020-05-01 17:59] mcorkum opened #109 "Need additional styles on forms for validation errors"
This is what I manually added to the page. Adjust as you see fit

`
 .form__field--error fieldset {
       border: 2px solid #bf112b;

   }

   .form__field--error select {
       border: 2px solid #bf112b;
       background-color: #f9e6e9;
   }

   .form__field legend span.form__required {
       padding-right: 5px;
   }`

[2020-05-01 18:37] troychaplin commented on #109
New styles added, will be available in the next release (v 0.19.6 I think)

[2020-05-01 18:37] #109 closed, assigned to nobody

[2020-06-08 17:15] dannybrown73 opened #110 "Finalize docs for and link up Tile block"
https://ravendesignsystem.github.io/rds/dev/blocks/main/imagetile/

[2020-06-08 17:49] troychaplin commented on #110
@dannybrown73 this is already linked up in dev doc landing page, as well as in the sidebar. Is there another spot that I'm missing?

[2020-06-13 02:56] cudevmaxwell opened #111 "Docs - Type in code example under Multicol AMA"
On line [535 of /docs/dev/layouts/multi-column/index.htm](https://github.com/ravendesignsystem/rds/blob/master/docs/dev/layouts/multi-column/index.html#L535) the code example is using the class name `l-multicol--am` when it should (?) be using the class name `l-multicol--ama`.

[2020-06-16 15:48] troychaplin commented on #111
Docs fixed, will show up in the next release which should be done later today.

[2020-06-16 15:48] #111 closed, assigned to nobody

[2020-06-20 23:37] cudevmaxwell opened #113 "Masthead top nav does not stay in the modal menu on window resize"
**Describe the bug**
Because `toggleMobileMenu()` in `src/_blocks/masthead/masthead.js` uses the current `offsetWidth` of `querySelector('.c-nav--topnav')`, if the top nav is already appended to the modal menu, the offsetWidth is 0. This means a top nav that is too wide for the current viewport will be placed back into the masthead.

[code]

In other words, if the masthead is already in 'mobile' m

[2020-06-22 11:41] troychaplin commented on #113
@cudevmaxwell this should be done this week, we started working on a fix for this last week

[2020-06-22 18:58] cudevmaxwell opened #114 "Inconsistent outline on focused elements"
**Describe the bug**
The focus outline on masthead elements is very prominent.
https://github.com/ravendesignsystem/rds/blob/dac31f2f86121ed3eb9768aca535ce2a75ff8ce0/src/_blocks/masthead/_masthead.scss#L76

The focus outline on all other elements on the page is not prominent enough.
https://github.com/ravendesignsystem/rds/blob/83c80637e2f1ca9bf65ecb11e54e21e3760acfaf/src/_core/scss/base/reboot/_r

[2020-06-25 15:42] cudevmaxwell opened #115 "Feedback: Remove "text-transform: uppercase" in Sitemap Footer block"
As the masthead block and the other footer blocks are not all uppercase, the sitemap footer block should be redesigned to not use `text-transform: uppercase`. This might require bumping the font size of elements in the sitemap slightly.

[2020-06-25 18:48] cudevmaxwell opened #116 "Accessibility: Display the skip link when focused"
The "Skip to main content" link at the top of the body element should not be hidden when it is focused.

[2020-07-09 16:59] troychaplin commented on #115
Changes have been merged into develop and will be available with the next full release

[2020-07-09 16:59] #115 closed, assigned to troychaplin

[2020-07-09 18:27] troychaplin commented on #116
Styles added and will be available in the next full release

[2020-07-09 18:27] #116 closed, assigned to nobody

[2020-07-09 18:29] troychaplin commented on #47
Closing this as the masthead has been modified so much that testing should be redone once the latest version from GH-113 is completed

[2020-07-09 18:29] #47 closed, assigned to mieradi

[2020-07-10 16:19] troychaplin commented on #113
Nav issues have been fixed and will be available in the next version release

[2020-07-10 16:19] #113 closed, assigned to troychaplin

[2020-07-10 18:43] troychaplin commented on #94
Entire webpack setup has been refactored and final test will be for v 0.20.0

[2020-07-10 18:43] #94 closed, assigned to troychaplin

[2020-07-13 20:30] troychaplin opened #117 "Site title spacing"
For CMS' or apps that use an auto generated title, we need a way for long titles to drop to the second line, or be truncated (dropping being the preferred option)

[2021-01-29 23:01] cudevmaxwell opened #125 "Bug in src/_blocks/form/form.js -> handleSubmit() causing missing submit input element data in request payload"
**Describe the bug**
The `handleSubmit()` function calls `preventDefault()` on the `event`. Then, after passing validation, the form is submitted using `form.submit()`. This causes the submit button's `name` and `value` to not be passed in the form data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ravendesignsystem.github.io/rds/dev/blocks/main/forms/
2. Add `action="https:

[2021-04-30 17:24] cudevmaxwell opened #126 "Block Change Proposal - Alert Header Block Variants"
I would like to propose that the [Alert Header Block](https://ravendesignsystem.github.io/rds/dev/blocks/header/alertheader/) should be updated so that it does not assume it only has Error alert components.

Instead, the Alert Header Block should be modified with variants like `.u-block--alert--error` or `.u-block--alert--warning`, depending on the alert component the Alert header block contains.

[2021-06-30 20:15] cudevmaxwell opened #127 "Multiple h1 headers - Banner Block and Masthead Block"
**Describe the bug**
Both the Banner and Masthead blocks use an h1 header.

**Expected behavior**
The Banner block should only use an h2 element. It's already supported in the CSS. https://github.com/ravendesignsystem/rds/blob/master/src/_blocks/banner/_banner.scss#L23
Or the Masthead should not use a header element at all, which I think makes the most sense.